<article class="post-item post-card">
  <div class="post-creator">
    <div class="post-creator-avatar">
      <%= post.user.first_name[0..1] %>
    </div>
    <div class="post-creator-details">
     <span class="post-creator-name"> <%= post.user.first_name %> </span>
     <span class="post-creation-date"> <%= post.created_at.to_formatted_s(:short) %> </span>
    </div>
  </div>
  <div class="post-body">
  <p><%= sanitize post.body%></p>
  </div>
  <div class="post-comments-count">
    <p><%= "#{post.comments.count} Comments"%> </p>
  </div>
  <% post.comments.each do |comment|%>
    <%= render 'comments/comment_item', comment: comment %>
  <% end %>
  <%= render 'comments/new_comment', post: post%>
  
</article>

