<!DOCTYPE html>
<html>
  <head>
    <title>Thoughts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="home-video-wrapper">
    <%= video_tag "thoughts_background.mp4",muted: :muted, autoplay: :autoplay, loop: :loop, class: "home-video" %>
      <div class="home-video-overlay">
        <%= yield %>
      </div>
  </div>


  </body>
</html>
